.App {
  text-align: center;
}

.mainLogo {
  width: 70%;
  max-height: 100px;
}
.overWarning{
  background-color: rgba(255, 166, 0, 0.623);
  box-shadow: inset 0 0 0 2px red;
}
.smallBreak{
  margin-top: -10px;
}

/* ***************** MODAL INFORMATION ***************** */
.modalBasic {
  background-color: rgb(255, 255, 255);
  border: solid 2px black;
  position: fixed;
  top: 40%;
  left: 40%;
  width: 350px;
  padding: 10px;
  text-align: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 0, 255, 0.6);
  z-index: 9999;
}

.modalAdjust {
  background-color: rgb(255, 255, 255);
  border: solid 2px black;
  position: fixed;
  top: 40%;
  left: 40%;
  width: 250px;
  padding: 10px;
  text-align: center;
}

.OverlayAdjust {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 255, 255, 0.6); */
  z-index: 9999;
}

/* ***************** FORMS INFORMATION ***************** */
.modalTitle{
  margin-top: 10px;
  margin-bottom: 0px;
}
.modalDate {
  margin-top: 0px;
  margin-bottom: 0px;
}
.createJobForm {
  width: 100%;
}
.createJobForm label{
  width: 100px;
  margin-right: 10px;
}
.createJobForm input{
  width: 80px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.colorDropdown {
  margin-bottom: 20px;
}
.datePickerContainer {
  margin-bottom: 20px;

}

/* ***************** BUTTONS ***************** */
.optionsButton{
  position:absolute;
  left: 1px;
  top: 1px;
}
.deleteJobButton{
  position:absolute;
  right: 1px;
  bottom: 1px;
  background-color: rgb(255, 61, 61);
}
.editingButtons{
  margin-bottom: 20px;
}

.basicButton{
  position:absolute;
  left: 1px;
  top: 1px;
}

/* ***************** CHECKBOXES ***************** */
.myCheckBox{
  margin-bottom: 20px;
}